.container {
  border-radius: 10px;
  background: #01afb3;
  padding: 20px;
  width: 700px;

  .text {
    text-align: center;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    color: white;
    margin: 30px 0 20px 0;
  }

  .subText {
    margin: 20px 0 20px 0;
    display: inline-block;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 31px;
    line-height: 38px;
    text-align: center;
    color: #fbfbfb;
  }

  .imageContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 20px 0 20px 0;
  }

  .buttonWrapper {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
    background: none;
    margin: 20px 0 20px 0;

    button.confirmButton {
      text-decoration: none;
      border: none;
      background: #00ff00;
      width: 300px;
      height: 125px;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.35);
      border-radius: 10px;
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 700;
      font-size: 55px;
      text-align: center;
      line-height: 125px;
      color: #fbfbfb;
      text-transform: uppercase;
      transition: all 0.3s;
      margin: 0 auto;
      cursor: pointer;

      &:active {
        transform: scale(0.9);
      }
    }

    button.cancelButton {
      text-decoration: none;
      background: #b7b7b7;
      border: none;
      width: 300px;
      height: 125px;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.35);
      border-radius: 10px;
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 700;
      font-size: 55px;
      text-align: center;
      line-height: 125px;
      color: #fbfbfb;
      text-transform: uppercase;
      transition: all 0.3s;
      margin: 0 auto;
      cursor: pointer;

      &:active {
        transform: scale(0.9);
      }
    }
  }
}
